
body{
  background-color: #fafafa;
}
@keyframes slideright {
  from{
    background-position: 700000% ;
  }
  to{
    background-position: 0%;
  }
}
.background{
  
  position: absolute;
  bottom: 0;
  background-image: url('./assets/background.png');
  background-repeat: repeat-x;
  animation: slideright 1000s infinite linear;
  width: 70%;
  height: 200px;
  left: 10%;
  
}
.dino{
  padding: 8px;
  position: absolute;
  background-image: url('./assets/dino.png');
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  bottom: 10px;
  
}
.cactus{
  position: absolute;
  background-image: url('./assets/cactus.png');
  width: 50px;
  background-repeat: no-repeat;
  bottom: 0px;
  top: 140px;
  
}
.game-over{
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 50px 0;
  color: #666;
}
.refresh{
  border: none;
  padding: 10px;
  width: 80px;
  background-color: rgb(70, 196, 70);
  color: #fafafa;
  font-weight: 700;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  font-size: 18px;
}